﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="imgDiv">
    <p>My online shop</p>
</div>
<div id="brandsDiv">
    <p> See Our <span>Brands</span></p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed error delectus, illo incidunt voluptatem accusantium perspiciatis.</p>
</div>
<div id="homeBody">    
    <aside>
        <p>Categories</p>
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Category" asp-route-category="Laptops and computers"><span>+</span> Laptops and computers</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Category" asp-route-category="Smartphones"><span>+</span> Smartphones</a>
            </li>
            <li><span>+</span> TV</li>
            <li><span>+</span> Electronics</li>
        </ul>
    </aside>
    <div class="main">
        @foreach (var p in Model)
        {
        <div class="article">
            <p><b>@p.Manufacturer.Name</b></p>
            <a asp-controller="Home" asp-action="Product" asp-route-id="@p.Id">
                @if (p.Category.Name == "Laptops and computers")
                {
                    <img src="@p.Images.FirstOrDefault().Url" width="170"/>
                }
                else
                {
                    <img src="@p.Images.FirstOrDefault().Url" height="200"/>
                }
            </a>
            <p>@p.Name</p>
            <hr />
            <div>
                <p class="priceP"><b>@p.Price.ToString("0") ₴</b></p>
                <a class="linkBtn" asp-action="Add" asp-controller="Cart" asp-route-id="@p.Id">Add <b>to Cart</b></a>
            </div>
        </div>
        }
    </div>
</div>
