﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    form {
        margin: 0 auto;
        width: 400px;
        padding: 1em;
        border: 1px solid black;
        border-radius: 1em;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    button {
        width: 35px;
        height: 35px;
        background: white;
        font-size: larger;
        border: 1px solid black;
    }

    input {
        width: 235px;
    }

    li:last-child {
        display: flex;
        justify-content: space-around;
    }

    li {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <form action="~/Home/Calc" method="post">
        <ul>
            <li>
                <label>First number:</label>
                <input type="text" name="number1"/>
            </li>
            <li>
                <label>Second number:</label>
                <input type="text" name="number2" />
            </li>
            <li>
                <button type="submit" name="btn" value="+">+</button>
                <button type="submit" name="btn" value="-">-</button>
                <button type="submit" name="btn" value="*">*</button>
                <button type="submit" name="btn" value="/">/</button>
            </li>
        </ul>
    </form>
</div>
