﻿@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="display-4" style="color: #e5ae49;">Contacts</h1>
</div>

<h2 style="color: #e5ae49;">Phones:</h2>
<p>
    <span style="font-family: arial; font-size: medium; color: #e5ae49;">&#9742;</span> +38 (067) 111-11-11&nbsp;&nbsp;&nbsp;<i>Vladimir</i>
</p>
<p>
    <span style="font-family: arial; font-size: medium; color: #e5ae49;">&#9742;</span> +38 (098) 222-22-22&nbsp;&nbsp;&nbsp;<i>Natalia</i>
</p>
<br/>
<h2 style="color: #e5ae49;">E-mail:</h2>
<p>
    <span style="font-family: arial; font-size: larger; color: #e5ae49;">&#9993;</span> blahblah@@gmail.com
</p>